div.mainContainer {
    flex-grow: 1;
}

.intro, .methodContainer {
    color: #576574;
    letter-spacing: 1.2px;
    text-indent: 10px;
    text-align:left;
    font-size: 14;
    line-height: 1.2;
}

.intro {
    padding: 20px;
    text-align: justify;
}

.methodContainer {
    padding-left: 10px;
    padding-right: 10px;
}

.method {
    color: #222f3e;
    transition: 1s;
    overflow: hidden;

}

.methodContainer {
    height: 0px; 
    transition: 1s;
}

.methodContainer.active {
   height: 600px;
}


div.icons {
    margin: 20px 0;
    line-height: 50px;
}

div.icons .icon {
    color: #576574;
    font-size: 20px;
    transition: 1s;
}

.icon.arrow {
    transform: rotate(180deg);
}

.icon.arrow.active {
    transform: rotate(0deg);
}

.icon.heart, .icon.share {
    margin-left: 15px;
}

.icon.share {
    margin-right: 150px;
}

.buttonActive {
    width: 50px;
    height: 50px;
}


